a {
    color: skyblue !important;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.heading{
    margin-top: 15px;
    text-align: center;
}
.question-list{
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
}
.question-list h4{
    margin: 0;
    padding: 0;
}                                                   
.question-list a{
    font-size: 18px;
    color: rgb(36, 80, 97) !important;
    text-decoration: none;
}
.answer-wrapper{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 20px;
}